<body>

    <p class="title">{{componentTitle}}</p>
    <form action="" [formGroup]="courseBasicInformationFormGroup">

        <app-text-input [formControl]="courseBasicInformationFormGroup.controls['courseName']" [label]="courseNameLabel"
            [placeholder]="courseNamePlaceholder" [warning]="courseNameErrorMessage"></app-text-input>

        <app-text-input [formControl]="courseBasicInformationFormGroup.controls['courseSubject']"
            [label]="courseSubjectLabel" [placeholder]="courseSubjectPlaceholder" [warning]="courseSubjectErrorMessage">


        </app-text-input>

        <app-text-area-input-component [label]="courseDescriptionLabel" [placeholder]="courseDescriptionPlaceholder"
            [formControl]="courseBasicInformationFormGroup.controls['courseDescription']"
            [warning]="courseDescriptionErrorMessage">

        </app-text-area-input-component>

        <app-select-dropdown-groups [options]="learningCategoriesAndSubcategoriesMap"
            [label]="courseLearningSubcategoryLabel" [placeholder]="courseLearningSubcategoryPlaceholder"
            [warning]="courseLearningSubcategoryErrorMessage"
            [formControl]="courseBasicInformationFormGroup.controls['learningSubcategory']"
            (onChangeEvent)="onCourseSubcategorySelect($event)">
        </app-select-dropdown-groups>
        <app-select-dropdown [options]="learningDifficultyLevelOptions"
            [formControl]="courseBasicInformationFormGroup.controls.learningDifficultyLevel"
            [label]="courseLearningDifficultyLevelLabel" [placeholder]="courseLearningDifficultyLevelPlaceholder"
            [warning]="courseLearningDifficultyLevelErrorMessage"></app-select-dropdown>
        <app-radio-button-group [options]="courseTypeOptions" [fieldsetTitle]="'Course type'"
            [warning]="courseTypeWarningMessage" [warningColor]="courseTypeWarningMessageColor"
            (selectedOptionChanged)="onCourseTypeSelected($event)"></app-radio-button-group>

        <app-text-input [type]="'number'" [formControl]="courseBasicInformationFormGroup.controls.coursePrice"
            [label]="coursePriceLabel" [placeholder]="coursePricePlaceholder"
            [warning]="coursePriceErrorMessage"></app-text-input>

        <div class="row error-message-row">
            <p [style.color]="formErrorMessageColor" [style.font-size]="'24px'">
                {{formErrorMessage}}
            </p>
        </div>
        <div class="row button-row">

            <app-submit-button [buttonBackgroundColor]="submitButtonColor" [submitButtonText]="submitButtonText"
                (buttonClick)="onNextStep()"></app-submit-button>
        </div>
    </form>
    <app-floating-warning-box *ngIf="showFloatingWarningBox" [warningTitle]="floatingWarningBoxTitle">
        <p [style.color]="floatingWarningBoxMessageColor" [style.font-size]="'24px'">{{floatingWarningBoxMessage}}</p>
        <div class="announcementDiv" *ngIf="isDataTransmissionActive">

            <mat-progress-spinner [mode]="spinnerMode" class="spinner-color"
                [style.stroke]="spinnerColor"></mat-progress-spinner>
        </div>
        <app-submit-button *ngIf="!isDataTransmissionActive && isDataTransmissionComplete && isOperationSuccessful"
            [buttonBackgroundColor]="continueToNextStepButtonColor" [submitButtonText]="continueToNextStepButtonText"
            [buttonMargin]="buttonMargin" (buttonClick)="onContinue()"></app-submit-button>
        <app-submit-button *ngIf="!isDataTransmissionActive && isDataTransmissionComplete && !isOperationSuccessful"
            [buttonBackgroundColor]="goBackButtonColor" [submitButtonText]="goBackButtonText"
            [buttonMargin]="buttonMargin" (buttonClick)="onGoBack()"></app-submit-button>
    </app-floating-warning-box>

</body>