<div class="main-container">
    <h2>Course Promotion Images</h2>
    <div class="action-buttons-container">
        <button class="go-back-button" (click)="goBack()">← Go Back</button>
        <button class="publish-course-button">Add New Image</button>
    </div>

    <div class="images-grid">
        <div class="image-wrapper" *ngFor="let image of coursePromotionImages">
            <div class="date">
                {{ (image.uploadedAt) | date:'medium' }}
            </div>
            <img [src]="getImageLink(image.coursePromotionImageId)" alt="Promotion image" class="promo-image" />
            <button>View Details</button>
        </div>
    </div>
</div>