<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Learning - Courses</title>

</head>
<body>


  <div class="header">
    <h1>Welcome, Dusko!</h1>
    <p>Ready to learn something new? Explore your courses and track your progress.</p>
  </div>
  <mat-paginator
    *ngIf="totalItems > 0"
    [length]="totalItems"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
    (page)="handlePageEvent($event)"
    aria-label="Select page">
  </mat-paginator>


  <!-- Course List Section -->
  <div class="course-list" >

    <div class="course-card" *ngFor="let kurs of courses">
      <img [src]="kurs.thumbnailUrl" alt="Course Image">
      <h3>{{kurs.title}}</h3>
      <p class="category">Category: {{kurs.category}}</p>
      <p class="description">{{kurs.description}}</p>
      <div class="progress-bar">
        <div class="progress"></div>
      </div>
      <button class="btn">Start Course</button>
    </div>

  </div>




</body>
</html>
