<body>
    <p class="title">Organize the course's lesson structure</p>
    <p>In this section, you need to specify how will your students go trough this course, and how will they learn</p>
    <p>Each lesson should focus, on covering an individual specific topic inside the broader subject of the course</p>
    <p>For each of the lessons we need you to provide the following:</p>
    <ul>
        <li>The position of the lesson in the order the students will cover that lesson.</li>
        <li>The materials (documents, presentations, videos, etc...) that will help the students complete the lesson
            successfully</li>
        <li>The expected time duration it will take to complete the lesson</li>
    </ul>
    <div class="add-lesson-button-container">

        <app-submit-button [buttonBackgroundColor]="addLessonButtonColor" [submitButtonText]="addLessonButtonText"
            [buttonMargin]="addLessonButtonMargin" [buttonWidth]="addLessonButtonWidth"
            (buttonClick)="addLesson()"></app-submit-button>
    </div>

    <app-course-lesson-modal *ngIf="showCourseLessonModal" [isCreateOrEditMode]="isCreateOrEditMode"
    [modalTitle]="modalTitle"
        (closeModal)="toggleCourseLessonModal()"></app-course-lesson-modal>
</body>