<div class="subheader">
    <div class="subheader-info">
        <div class="user-meta">
            <h3 class="status">Logged in</h3>
            <div class="user-details">
                <p class="user-email">{{dashboardUserInfo.email}}</p>
                <p class="user-name" *ngIf="dashboardUserInfo.firstName">
                    {{dashboardUserInfo.firstName}} {{dashboardUserInfo.lastName}}
                <p class="user-username" *ngIf="dashboardUserInfo.username">
                    {{dashboardUserInfo.username}}
                </p>
            </div>
        </div>
    </div>
    <button class="logout-button" (click)="logout()">Logout</button>
</div>
<div class="tutor-dashboard">

    <h2>Tutor Dashboard</h2>
    <div class="dashboard-grid">
        <div class="dashboard-card" *ngFor="let item of dashboardItems; let i=index">

            <h3>{{item.title}}</h3>
            <p>{{item.description}}</p>
            <p>{{item.dataInfo}}</p>
            <button (click)="goTo(item.link)">{{item.buttonText}}</button>
        </div>
    </div>
</div>