.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
}

.modal-content {
  position: fixed;
  top: 20%;
  left: 5%;
  right: 5%;
  height: 60%;
  max-width: 90%;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: 12px 12px 0px 0px;
  border-bottom: 1px solid #e0e0e0;
  background-color: rgb(2, 80, 176);
  color: white;
  font-size: 24px;
}

.close-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.close-button:hover {
  color: #e0e0e0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  margin: 2% 0%;
}

.course-lesson-form {
  border-bottom: 1px solid #e0e0e0;
}

.course-lesson-content-form {
  border-bottom: 1px solid #e0e0e0;
}
.row {
  margin: 0% 5%;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
  width: 100%;
  color: rgb(2, 80, 176);
  text-align: center;
}
.editor-row {
  margin-bottom: 12px;
}
.editor-row p:nth-of-type(1) {
  color: #808080;
  padding-left: 10px;
  font-size: 14px;
}
.editor-container {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 12px;
  padding: 10px 2px;
}
.editor-container:hover {
  outline-style: solid;
  outline-color: blue;
  outline-width: 1px;
  cursor: pointer;
}

.editor-container:focus {
  cursor: text;
  border: 1px solid blue;
}

.editor-warning {
  color: red;
  height: 21px;
  font-size: 12px;
  padding-left: 10px;
}

.upload-file-row {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5%;
}
.upload-information-container {
  padding: 20px;
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-information-container p {
  font-size: 18px;
  color: #555;
  align-self: center;
}

.upload-container {
  margin: 20px 0;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.upload-container input[type="file"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.upload-container input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

.upload-container input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

.upload-container input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

.upload-container input[type="file"]:hover {
  border-color: #aaa;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.input-group label {
  font-weight: bold;
  font-size: 12px;
}

.input-group input {
  padding: 8px;
  border-radius: 12px;
  border: 1px solid #ddd;
}
.info-text {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-top: 10px;
}

.file-info-text {
  display: flex;
  text-align: left;
  font-size: 14px;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}
.file-info-text p {
  margin: 0;
  padding: 0;
}

.file-warning-text {
  display: flex;
  text-align: left;
  font-size: 14px;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}
.file-warning-text p {
  margin: 0;
  padding: 0;
  color: red;
}

.upload-file-button-row {
  width: 90%;
  margin: 0 5%;
}

.create-course-lesson-container {
  width: 90%;
  margin: 1% 5%;
  display: flex;
  flex-direction: column;
}

.create-course-lesson-note {
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 12px 0;
}

.announcementDiv {
  margin: 5px 0px 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-response-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 5%;
}

.supplementary-material-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 5%;
}

.file-table-container {
  width: 90%;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 0;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5%;
}

thead tr {
  background-color: #0078d7;
  color: white;
}

tr,
th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th:first-child,
td:first-child {
  border-left: 1px solid #ddd;
}

th:last-child,
td:last-child {
  border-right: 1px solid #ddd;
}

th,
td {
  border-left: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
}
tbody tr:last-child td {
  border-bottom: none;
}
td:hover {
  background-color: #e3e2e2;
  cursor: pointer;
}
td {
  width: 20%;
}

.download-file-container {
  width: 90%;
  margin-top: 4px;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}

.file-download-info {
  color: grey;
}

.file-download-link-info {
  color: grey;
}
.file-download-link {
  color: blue;
  text-decoration: none;
}

.download-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion-list-container {
  width: 90%;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 0 !important;
  display: none;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;
  margin-bottom: 100px;
}

.accordion-list-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
  border-radius: 12px;
}

.accordion-list-item-header {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ddd;
  background-color: rgb(2, 80, 176);
  color: white;
  border-radius: 12px;
  padding: 12px;
}

.accordion-list-item-body {
  width: 100%;
  padding: 12px;
  border-top: 1px solid #ddd;
  margin-top: 8px;
  background-color: #f9f9f9;
  border-radius: 12px;
  display: none;
}

.accordion-list-item-body.active {
  display: block;
}

.accordion-list-item-body-actions-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.accordion-list-item-body-actions-area button {
  width: 100%;
  margin: 12px;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background-color: rgb(2, 80, 176);
  color: white;
  cursor: pointer;
}

.accordion-list-title {
  width: 100%;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 12px;
}

.update-response-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 5%;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 12px;
}

.delete-response-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 5%;
  border-top: 1px solid #e0e0e0;
  margin-top: 12px;
}

@media screen and (max-width: 950px) {
  table {
    display: none;
  }
  .accordion-list-container {
    display: flex;
  }
}
@media screen and (max-width: 468px) {
  .upload-container {
    width: 100%;
  }
  .upload-container input[type="file"] {
    width: 100%;
  }
  .upload-container input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
  }

  .accordion-list-item-body-actions-area {
    flex-direction: column;
  }

  .accordion-list-item-body-actions-area button {
    margin: 12px 0;
  }
}
