<body>
    <h1>
        Enter information about your education
    </h1>
    <h3 *ngIf="isMaxNumberOfRecordsReached" [style.color]="'red'">
        Maximum number of records reached, no more can be added.
    </h3>



    <div class="education-log-grid">

        <div class="education-log-grid-item" *ngFor="let educationLog of educationLogGroups; let i = index"
            (click)="onLogClick(educationLog, i)">
            <p *ngIf="educationLog.educationLevel !== '' && educationLog.fieldOfStudy !== '' ">
                {{educationLog.isCompleted ? "Finished" : "Studying"}}
                {{educationLog.fieldOfStudy}}
                {{educationLog.institutionName ? 'at ' + educationLog.institutionName : ''}}
                on
                {{educationLog.educationLevel}} level
            </p>

            <p *ngIf="educationLog.educationLevel === '' && educationLog.fieldOfStudy === '' ">
                New education log
            </p>

        </div>
        <div *ngIf="!isMaxNumberOfRecordsReached" class="education-log-grid-item" (click)="addNewEducationLog()">
            Add
        </div>
    </div>

    <app-education-log *ngIf="this.isEditModalOpen" [toggleFloatingBox]="this.toggleEducationLogVisibility.bind(this)"
        [educationInformation]="this.selectedGroup">

    </app-education-log>

    <app-submit-button *ngIf="isStepCompleted" [submitButtonText]="this.continueToNextStepButtonText"
        [buttonBackgroundColor]="this.continueButtonColor"
        (buttonClick)="routeToCareerInformation()"></app-submit-button>

</body>