<div class="backdrop" (click)="toggleFloatingBox()"></div>
<div class="code-verification-container">
    <header class="header">
        <h1>Verify Email</h1>
    </header>
    <button class="close-button" (click)="toggleFloatingBox()">X</button>

    <body>
        <h2>Please verify code you have received in your email inbox</h2>
        <input [formControl]="verificationCodeFromControl" (input)="handleVerificationCodeValidation()" type="text">
        <h3 class="warning" [style.color]="warningTextColor">{{warningText}}</h3>
        <div class="announcementDiv" *ngIf="isCheckActive">

            <mat-progress-spinner *ngIf="isCheckActive" [mode]="spinnerMode" class="spinner-color"
                [style.stroke]="spinnerColor"></mat-progress-spinner>
            <p class="announcement" [style.color]="dataProcessingResultColor">{{dataProcessingResult}}</p>
        </div>
        <app-submit-button [style.margin]="buttonMargin" (buttonClick)="checkVerificationCode()"></app-submit-button>
        <app-submit-button [style.margin]="buttonMargin" [submitButtonText]="resendButtonText"
            (buttonClick)="resendVerificationCode()" *ngIf="dataProcessingFailed"></app-submit-button>
    </body>

</div>