.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 999; /* Behind the floating component but above other content */
}

.close-button {
  position: absolute;
  width: 20px;
  top: 10px;
  left: calc(100% - 40px);
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
}

.code-verification-container {
  position: fixed;
  top: 120px;
  left: 100px;
  right: 100px;
  z-index: 1000;
  width: calc(100% - 200px);
  height: calc(100% - 200px);
  background-color: white;
  color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: unset;
  align-items: center;
  background-color: rgb(2, 80, 176);
  color: white;
  padding: 10px 0px;
  border-radius: 5px 5px 0px 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  text-align: center;
}

body > h2 {
  font-size: 2rem;
  text-wrap: wrap;
  padding: 0px 10px;
}
body > h3 {
  text-align: left;
  width: 90%;
  color: red;
  height: 25px;
}
input {
  width: 90%;
  min-height: 50px;
  margin: 10px 0px;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  border-radius: 12px;
}

.spinner-color {
  stroke: blue;
}

.announcementDiv {
  margin: 5px 0px 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.announcement {
  font-size: 1.5rem;
}
