<body>
    <div class='hero-container'>

        <h1>
            Specify when you are available to others for interactions
        </h1>


    </div>
    <app-availability-day-time-select style="align-self: stretch;" [accountService]="accountService"
        (triggerRefresh)="this.toggleRefreshTrigger()"></app-availability-day-time-select>

    <app-availability-records-table *ngIf="this.availabilityRecords.length>0" [style.width]="'100%'"
        [availabilityRecords]="this.availabilityRecords" [accountService]="this.accountService"
        (triggerRefresh)="this.toggleRefreshTrigger()">

    </app-availability-records-table>

    <div class="fotter">
        <p style="margin: 25px; color: green;">You have successfully completed this step of registration,
            proceed to the next step</p>
        <app-submit-button *ngIf="isStepCompleted" [submitButtonText]="this.goToNextStepButtonText"
            (buttonClick)="this.routeToTheNextStep()">

        </app-submit-button>
    </div>

</body>