

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
  }
  .FontText{
    font-family: 'Roboto', sans-serif;
  }
.course-promotion {
    max-width: 40%;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc);

    color: #E4E6EB;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
.StudentPhoto{
    background-size: cover;
}
.TutorSub{
    font-size: 12px;
}
.CoursePromotionHeader{
    width: 100%;
   
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: center; /* Vertikalno centriranje */
  align-items: center; /* Horizontalno centriranje */
  /* Opcionalno pozadinska boja */
}
.StudentPhotoPhone{
  visibility: 0%;
  display: none;
}


.phoneMenu{
    visibility: 0%;
}
.headerComp {
    position: relative; 
    
    width: 100%; 
    box-sizing: border-box;
   
  }
.CommentIcon{
  margin-left: 10%;
}
.carousel-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  width: 100%;
  height: 100%;
}

.arrow-left, .arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  padding: 10px;
  z-index: 10;
  cursor: pointer;
}

.akcije{
  margin-left: 30px;
}


.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}
.carousel-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover; 
}
button{
  font-family: 'Roboto', sans-serif;
}
.ButtonCourse{

  border-radius: 10px;
    background-color: #1E3A8A;
    margin-left: 40%;
  
  
}
.feedText{
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  background-clip: text;
  color: transparent;


  margin-left:20px;
}
.FeedIcon{
  display: inline-block;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  background-clip: text;
  color: transparent;

}
.contentDiv{
 
    box-sizing: border-box;
    word-wrap: break-word;
}
/**/
.icon{
  display: none;
}








.widget {
 
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 6px 0 rgb(85 85 85 / 8%), 0 1px 20px 0 rgb(0 0 0 / 7%), 0px 1px 11px 0px rgb(0 0 0 / 7%);
  -moz-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0 4px 6px 0 rgb(85 85 85 / 8%), 0 1px 20px 0 rgb(0 0 0 / 7%), 0px 1px 11px 0px rgb(0 0 0 / 7%);
}
.widget.box .widget-header {
  
  background: #fff;
  padding: 0px 8px 0px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.widget .widget-header {
  border-bottom: 0px solid #f1f2f3;
}
.widget.box .widget-header {
  background: #fff;
  padding: 0px 8px 0px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.widget .widget-header {
  border-bottom: 0px solid #f1f2f3;
}
.widget .widget-header:after {
  clear: both;
}
.widget .widget-header:before, .widget .widget-header:after {
  display: table;
  content: "";
  line-height: 0;
}
.widget-content-area {
  padding: 20px;
  position: relative;
  background-color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.container{
 
  margin-top: 30px;
  margin-left: 15%;
  margin-right: 15%;;
  width: 70%;
}
.story-container-1 {
  
 
  display: flex;
  align-items: center;
  justify-content:center;
}

.story-container-1 .single-story {
  height: 175px;
  width: 110px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}
.story-container-1 .single-story::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(rgb(255 0 0 / 0%), black);
}
img.single-story-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.story-container-1 .story-author {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  right: 0px;
  text-align: center;
  z-index: 99;
  cursor: pointer;
}

.story-author img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid white;
  padding: 4px;
}

.story-container-1 .story-author p {
  color: #fff;
  width: 100%;
  margin: 5px 0px 0px 0px;
  font-weight: 600;
  font-size: 12px;
}

.create-story-author p {
  margin: 0px;
  font-size: 13px;
  font-weight: 500;
}

















@media only screen and (max-width: 900px) {
  .box1{margin-bottom:30px}
  .arrow-rightTutors{

  }
  .arrow-leftTutors{

  }
  .container{
    margin-top: 30px;
    margin-left: 0%;
    margin-right: 0%;;
    width: 100%;
  }
  .profile-card {
    height: 120px;
  }
    .course-promotion{
        max-width: 90%;
        margin-bottom: 40px
    }

    .CoursePromotionHeader{
        margin: 0px;
       margin-top: 10px;
    
    }
   
.story-container-1 .single-story {
 
  height: 175px;
  width: 100px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-right: 5px;
  margin-bottom: 5px;
}
    .StudentPhotoPhone{
      display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        margin-right: 0;
        margin-top: 5px;
        height: 30px;
    }
    .phoneMenu{
      display: flex;
      justify-content: center;

        width: 100%;
        height: 7%;
        background: linear-gradient(135deg, #4e0a8f, #1d4db4);

        position: fixed;
        z-index: 1;
        bottom: 0;
        gap:150px;
       
        
      }
 
      .icon{
        display: inline;
        margin: 0px;
       margin-top: 5px;
      
        color: white;
        
      }
  

}