<body>
    <div class="blueOverall">
    <div class="OverLayGradient">
    <section class="container">
     
        <div class="login-container">
     
            <div class="circle circle-one"></div>
            <div class="form-container">
                <h1 class="loginText">LOGIN</h1>
                <img src="https://i.imgur.com/RTWAhXX.png" alt="illustration" class="illustration" />
            
                <form>
                    <input type="text" placeholder="USERNAME" />
                    <input type="password" placeholder="PASSWORD" />
                    <button class="opacity" type="submit">SUBMIT</button>
                </form>
                <div class="register-forget opacity">
                    <a href="">REGISTER</a>
                    <a href="">FORGOT PASSWORD</a>
                </div>
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
    </section>
</div>
</div>
</body>