<div class="teaching-resources-details-container">
    <h2>{{!this.existingResource ? 'New Teaching Resource' : 'Teaching Resource Details'}}</h2>
    <div class="action-buttons-container">
        <button class="go-back-button" (click)="goBack()">← Go Back</button>
        <button class="delete-resource-button" *ngIf="this.existingResource" (click)="onDeleteResource()">Delete
            Resource</button>

    </div>
    <form [formGroup]="resourceFormGroup">
        <div class="form-item">
            <label for="resourceType">Resource Title</label>
            <input type="text" id="title" name="title" formControlName="title"
                placeholder="Enter the title of the resource the users will see">
            <div class="error-container">
                <div class="error-container"
                    *ngIf="resourceFormGroup.controls['title'].errors && resourceFormGroup.controls['title'].dirty">
                    <p *ngIf="resourceFormGroup.controls['title'].getError('required')">This field is required</p>
                    <p *ngIf="resourceFormGroup.controls['title'].getError('minlength')">Minimum length for
                        title is 1 character</p>
                    <p *ngIf="resourceFormGroup.controls['title'].getError('maxlength')">Maximum length for
                        title is 100 characters</p>
                </div>
            </div>
        </div>
        <div class="form-item">
            <label for="description">Resource Description</label>
            <textarea id="description" name="description" formControlName="description"
                placeholder="Describe this resource"></textarea>
            <div class="error-container"
                *ngIf="resourceFormGroup.controls['description'].errors && resourceFormGroup.controls['description'].dirty">
                <p *ngIf="resourceFormGroup.controls['description'].getError('required')">This field is required</p>
                <p *ngIf="resourceFormGroup.controls['description'].getError('minlength')">Minimum length for
                    description is 25 characters</p>
                <p *ngIf="resourceFormGroup.controls['description'].getError('maxlength')">Maximum length for
                    description is 255 characters</p>
            </div>
        </div>

        <!--Existing Resource File Content-->
        <div class="form-item" *ngIf="isEditMode && existingResource?.fileName">
            <label>Existing File Data</label>
            <div class="existing-file-container">

                <div class="file-data-row">
                    <span class="file-data-label">File Name: </span>
                    <span class="file-data-value">{{existingResource?.fileName}}</span>
                </div>

                <div class="file-data-row">
                    <span class="file-data-label">File Type: </span>
                    <span class="file-data-value">{{existingResource?.contentType}}</span>
                </div>

                <div class="file-data-row">
                    <span class="file-data-label">File Size: </span>
                    <span class="file-data-value">{{this.formatFileSizeTemplateFunction()}}</span>
                </div>

                <div class="file-action-buttons">

                    <button *ngIf="this.existingResource?.fileName" class="download-button"
                        (click)="onDownloadResource()">
                        <i class="fas fa-download"></i> Download
                    </button>
                </div>
            </div>

        </div>

        <!--Download Area Container-->
        <div class="upload-progress-area-container" *ngIf="uploadInProgress">
            <label for="thumbnailFileName">Download Status</label>
            <div class="upload-progress-container">
                <div class="progress-status">
                    <span>{{downloadStatusMessage}}</span>

                </div>
                <div class="progress-bar-container">
                    <div class="progress-bar" [style.width.%]="downloadProgress"></div>
                </div>
                <div class="progress-percentage">{{downloadProgress}}%</div>
            </div>
        </div>


        <div class="form-item" *ngIf="resourceFormGroup.controls['resourceType'].value">
            <label for="resourceType">Resource Type</label>
            <select formControlName="resourceType">
                <option value="file">File Upload</option>
                <option value="url">URL Reference</option>
            </select>


        </div>


        <!--URL Input-->
        <div class="form-item" *ngIf="resourceFormGroup.controls['resourceType'].value === 'url'">
            <label for="url">Resource URL</label>
            <input type="url" formControlName="url">
            <div class="error-container" *ngIf="resourceFormGroup.controls['url'].invalid">
                <p *ngIf="resourceFormGroup.controls['url'].hasError('pattern')">This is not a valid
                    URL</p>
            </div>
        </div>

        <!--File Upload Input-->
        <div class=" form-item" *ngIf="resourceFormGroup.controls['resourceType'].value === 'file'"
            (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)"
            [class.dragging]="isDragging">
            <div class="file-upload-wrapper">
                <div class="drag-drop-content">
                    <span class="upload-icon">📤</span>
                    <p class="drag-drop-text">Drag and drop your thumbnail here</p>
                    <p class="drag-drop-subtext">or</p>
                </div>
                <label for="thumbnailData" class="file-upload-label">
                    <span class="upload-button">Choose File</span>
                </label>
                <input type="file" id="thumbnailData" class="visually-hidden" (change)="onFileSelected($event)"
                    aria-describedby="fileHelp" formControlName="file">
                <div id="fileHelp" class="helper-text"
                    *ngIf="!resourceFormGroup.controls['file'].errors && selectedFile">
                    Uploaded file: {{selectedFile?.name}}</div>
                <div class="error-container">
                    <span>{{fileErrorMessage}}</span>
                </div>
                <div class="file-action-buttons">

                    <button class="preview-button" (click)="onPreview()" *ngIf="this.selectedFile">
                        <i class="fas fa-eye"></i> Preview
                    </button>
                </div>
            </div>
        </div>


        <div class="upload-progress-area-container" *ngIf="uploadInProgress">
            <label for="thumbnailFileName">Upload Status</label>
            <div class="upload-progress-container">
                <div class="progress-status">
                    <span>{{uploadStatusMessage}}</span>

                </div>
                <div class="progress-bar-container">
                    <div class="progress-bar" [style.width.%]="uploadProgress"></div>
                </div>
                <div class="progress-percentage">{{uploadProgress}}%</div>
            </div>
        </div>
        <div class="form-actions-row"
            *ngIf="this.resourceFormGroup.controls['resourceType'].value === 'file' && this.selectedFile || this.resourceFormGroup.controls['resourceType'].value === 'url' && this.resourceFormGroup.controls['url'].value">
            <button class="discard-action-button">Discard</button>
            <button class="save-action-button" (click)="onSaveResource()"
                *ngIf="this.resourceFormGroup.valid">Save</button>
        </div>
    </form>
    <app-custom-header-ng-content-dialog-box *ngIf="showSaveDialog" [title]="'Save Resource'">
        <p>{{saveDialogMessage}}</p>
        <div class="dialog-actions">
            <button class="cancel-button" (click)="onCancelSaveDialog()">Cancel</button>
            <button class="confirm-button" (click)="saveResource()">Confirm</button>
        </div>
    </app-custom-header-ng-content-dialog-box>
    <app-custom-header-ng-content-dialog-box *ngIf="showDeleteDialog" [title]="'Delete Resource'">
        <p>{{deleteDialogMessage}}</p>
        <div class="dialog-actions">
            <button class="cancel-button" (click)="onCancelDeleteDialog()">Cancel</button>
            <button class="confirm-button" (click)="deleteResource()">Confirm</button>
        </div>
    </app-custom-header-ng-content-dialog-box>
</div>