<div class="upload-container">
  <h4>Please enter your {{ valueNameChild }}</h4>
  <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <input
      type="text"
      formControlName="userInput"
      placeholder="Enter your {{ valueNameChild }}"
    />

    <div *ngIf="userInput?.touched && userInput?.invalid">
      <small class="error-message">{{ valueNameChild }} is required.</small>
    </div>

    <button type="submit" [disabled]="userInput?.invalid">Upload</button>
    <button type="button" (click)="ChangeFormStatus()">Close</button>
  </form>
</div>
