<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
  <script src="https://js.stripe.com/v3/"></script>

</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="active">Shopping Cart</li>
                <li (click)="MoveToWishList()">Wishlist</li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1> Shopping Cart</h1>


        <div id="shopping-cart" class="tab-content">
          <div class="cart-item" *ngFor="let course of kursevi">
            <div class="item-info">
              <div class="image-container">
                <!-- Dynamically bind course image URL -->
                <img [src]="course.thumbnailUrl" alt="{{ course.title }}" class="course-image">
              </div>
              <div class="text-details">
                <!-- Bind course title and instructor -->
                <h2>{{ course.title }}</h2>
                <p class="instructor">by {{ course.instructor }}</p>
                <!-- Bind course price -->
                <p class="price">€{{ course.price }}</p>
              </div>
            </div>
                <div class="item-actions">
                    <button class="remove" (click)="ObrisiKurs(course.courseId)">Remove</button>
                    <button class="wishlist" (click)="OpenCourse(course.courseId)">Open Course</button>
                </div>
            </div>

            <div class="summary">
                <p class="total">Total: ${{totalprice}}</p>
                <button class="checkout" (click)="ClearCart()">Clear Cart</button>
              <button class="checkout" (click)="onCheckout()">Checkout</button>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2025 All rights reserved.</p>
    </footer>
</body>
</html>
