* {
  padding: 0;
  margin: 0;
}

:host {
}

button {
  width: 100%;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 18px;
  padding: 12px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

button:hover {
  background-color: rgb(2, 80, 176);
  color: white;
  box-shadow: 4px 6px 0 rgba(63, 63, 63, 0.135);
  margin: 0;
}
