<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="message-container">
        <!-- Chat Header -->
        <div class="chat-header">
            <div class="header-left">
                <div class="avatar-container">
                    
                    <img [src]="photourl ? photourl : 'https://avatars.githubusercontent.com/u/1?v=4'" alt="User Avatar" class="avatar">
                 
                         
                   
                </div>
                <!-- Display the name of the other user -->
                <h3>{{ accountService.CurrentUser()?.Email === senderEmail ? recipientEmail : senderEmail }}</h3>
            </div>
            <div class="header-right">
                <button id="backBtn" (click)="GetBackToDirectMessage()">
                    <span>&larr; Back</span>
                </button>
            </div>
        </div>

        <!-- Messages -->
        <div class="messages">
            <div *ngFor="let message of messages" 
                 [ngClass]="{
                    'message received': senderEmail !== accountService.CurrentUser()?.Email,
                    'message sent': senderEmail === accountService.CurrentUser()?.Email
                }">
                
                <div class="text-container">
                    <!-- Display message content -->
                    <p>{{ message.content }}</p>
                    <!-- Display time since message was sent -->
                    <div class="time">{{ timeAgo(message.messageSent) }}</div>
                </div>
         
            </div>
        </div>

        <!-- Chat Input -->
        <div class="chat-input">
            <input type="text" placeholder="Type a message..." id="messageInput">
            <button id="sendButton">Send</button>
        </div>
    </div>
</body>
</html>
