<div class="backdrop" *ngIf="isEditModalOpen"></div>
<div class="container" *ngIf="isEditModalOpen">
    <button class="close-button" (click)="this.closeEditModal()">X</button>
    <h2>

        Enter information about your career
    </h2>
    <form action="" [formGroup]="careerInformationFormGroup">
        <div class="row">
            <app-text-input [label]="companyNameLabel" [placeholder]="companyNamePlaceholder"
                [formControl]="careerInformationFormGroup.controls.companyName"
                [warning]="companyNameErrorMessage"></app-text-input>
        </div>
        <div class="row">
            <app-text-input [label]="companyWebsiteLabel" [placeholder]="companyWebsitePlaceholder"
                [formControl]="careerInformationFormGroup.controls.companyWebsite"
                [warning]="companyWebsiteErrorMessage"></app-text-input>
        </div>
        <div class="row">
            <app-text-input [label]="jobTitleLabel" [placeholder]="jobTitlePlaceholder"
                [formControl]="careerInformationFormGroup.controls.jobTitle"
                [warning]="jobTitleErrorMessage"></app-text-input>
        </div>
        <div class="row">
            <app-text-input [label]="positionLabel" [placeholder]="positionPlaceholder"
                [formControl]="careerInformationFormGroup.controls.position"
                [warning]="positionErrorMessage"></app-text-input>
        </div>
        <div class="row">
            <app-text-input [label]="cityOfEmploymentLabel" [placeholder]="cityOfEmploymentPlaceholder"
                [formControl]="careerInformationFormGroup.controls.cityOfEmployment"
                [warning]="cityOfEmploymentErrorMessage"></app-text-input>
        </div>
        <div class="row">
            <app-text-input [label]="countryOfEmploymentLabel" [placeholder]="countryOfEmploymentPlaceholder"
                [formControl]="careerInformationFormGroup.controls.countryOfEmployment"
                [warning]="countryOfEmploymentErrorMessage"></app-text-input>
        </div>
        <div class="row">
            <app-select-dropdown [formControl]="careerInformationFormGroup.controls.employmentType"
                [placeholder]="employmentTypePlaceholder" [label]="employmentTypeLabel"
                [options]="employmentTypeOptions"></app-select-dropdown>
        </div>
        <div class="row">
            <app-date-picker [formControl]="careerInformationFormGroup.controls.startDate" [label]="startDateLabel"
                [placeholder]="startDatePlaceholder">

            </app-date-picker>
        </div>
        <div class="row">
            <app-date-picker [formControl]="careerInformationFormGroup.controls.endDate" [label]="startDateLabel"
                [placeholder]="startDatePlaceholder">

            </app-date-picker>
        </div>

        <div class="row">
            <app-text-input [label]="jobDescriptionLabel" [placeholder]="jobDescriptionPlaceholder"
                [formControl]="careerInformationFormGroup.controls.jobDescription"
                [warning]="jobDescriptionErrorMessage"></app-text-input>
        </div>
        <div class="row">
            <app-text-input [label]="responsibilitiesLabel" [placeholder]="responsibilitiesPlaceholder"
                [formControl]="careerInformationFormGroup.controls.responsibilities"
                [warning]="responsibilitiesErrorMessage"></app-text-input>
        </div>
        <div class="row">
            <app-text-input [label]="achievementsLabel" [placeholder]="achievementsPlaceholder"
                [formControl]="careerInformationFormGroup.controls.achievements"
                [warning]="achievementsErrorMessage"></app-text-input>
        </div>
        <div class="row">
            <app-select-dropdown [formControl]="careerInformationFormGroup.controls.industry"
                [placeholder]="industryPlaceholder" [label]="industryLabel" [options]="industryClassificationOptions"
                [warning]="this.industryErrorMessage"></app-select-dropdown>
        </div>
        <div class="row">
            <app-text-input [label]="skillsUsedLabel" [placeholder]="skillsUsedPlaceholder"
                [formControl]="careerInformationFormGroup.controls.skillsUsed"
                [warning]="skillsUsedErrorMessage"></app-text-input>
        </div>
        <div class="row">
            <app-select-dropdown [formControl]="careerInformationFormGroup.controls.workTypeId"
                [placeholder]="workTypePlaceholder" [label]="workTypeLabel"
                [options]="workTypeOptions"></app-select-dropdown>
        </div>
        <div class="row">
            <app-text-input [label]="additionalInformationLabel" [placeholder]="additionalInformationPlaceholder"
                [formControl]="careerInformationFormGroup.controls.additionalInformation"
                [warning]="additionalInformationErrorMessage"></app-text-input>
        </div>

        <div class="row error-message-row">
            <p [style.color]="formErrorMessageColor" [style.font-size]="'24px'">
                {{formErrorMessage}}
            </p>
        </div>
        <div class="row button-row">

            <app-submit-button *ngIf="!hasChanges" [buttonBackgroundColor]="goBackToCareerInformationButtonColor"
                [submitButtonText]="goBackToCareerInformationButtonText"
                (buttonClick)="goBackToCareerInformation()"></app-submit-button>
            <app-submit-button *ngIf="!isCreateOrEditMode" [submitButtonText]="deleteButtonText"
                [buttonBackgroundColor]="deleteButtonColor" (buttonClick)="deleteButtonClick()">
            </app-submit-button>
            <app-submit-button *ngIf="hasChanges" [submitButtonText]="discardButtonText"
                [buttonBackgroundColor]="discardButtonColor" (buttonClick)="discardButtonClick()">
            </app-submit-button>
            <app-submit-button *ngIf="hasChanges" [buttonBackgroundColor]="saveButtonColor"
                [submitButtonText]="saveButtonText" (buttonClick)="saveButtonClick()"></app-submit-button>
        </div>
    </form>
</div>
<app-floating-warning-box *ngIf="isWarningDialogOpen" [warningTitle]="warningBoxTitleText">
    <p [style.color]="floatingWarningBoxMessageColor" [style.font-size]="'24px'">{{floatingWarningBoxMessage}}</p>
    <div class="announcementDiv" *ngIf="isDataTransmissionActive">

        <mat-progress-spinner [mode]="spinnerMode" class="spinner-color"
            [style.stroke]="spinnerColor"></mat-progress-spinner>
    </div>
    <app-submit-button [buttonBackgroundColor]="confirmButtonColor" [submitButtonText]="confirmButtonText"
        (buttonClick)="confirmButtonClick()" *ngIf="!isDataTransmissionActive && !isDataTransmissionComplete"
        [buttonMargin]="warningBoxButtonMargin"></app-submit-button>
    <app-submit-button *ngIf="!isDataTransmissionActive && !isDataTransmissionComplete"
        [buttonMargin]="warningBoxButtonMargin" [buttonBackgroundColor]="cancelButtonColor"
        [submitButtonText]="cancelButtonText" (buttonClick)="cancelButtonClick()"></app-submit-button>
    <app-submit-button [submitButtonText]="continueButtonText" [buttonBackgroundColor]="continueButtonColor"
        [buttonMargin]="warningBoxButtonMargin" (buttonClick)="continueButtonClick()"
        *ngIf="!isDataTransmissionActive && isDataTransmissionComplete">

    </app-submit-button>
    <app-submit-button [submitButtonText]="goBackButtonText" [buttonBackgroundColor]="goBackButtonColor"
        [buttonMargin]="warningBoxButtonMargin" (buttonClick)="goBackToEditModal()"
        *ngIf="isDataTransmissionActive && isDataTransmissionComplete && !isCreateOrEditMode">

    </app-submit-button>
</app-floating-warning-box>