.course-teaching-resources-container {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

.action-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
}

.go-back-button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.go-back-button:hover {
  background-color: #0056b3;
}

.add-new-resource {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-new-resource:hover {
  background-color: darkgreen;
}
