<body>
    <p class="title">Upload Your Course Materials Here</p>
    <p>These files are meant to be used by the students as general guidebooks, references, and study material while
        learning the course.</p>
    <p>Maximum number of files per course: <strong>15</strong></p>
    <p>Total maximum size these files can take up: <strong>120 MB</strong></p>

    <div class="upload-information-container">
        <p>Current number of files: <strong>{{currentNumberOfFiles}}</strong></p>
        <p>Current space taken up: <strong>{{currentSpaceTakenUpInMb}} MB</strong></p>
    </div>

    <div class="upload-container">
        <input type="file" id="fileUpload" #fileInput (change)="onFileSelected($event)">
        <p class="info-text">{{fileUploadInstructionText}}</p>

        <div *ngIf="this.selectedFile && this.validateFileType(this.selectedFile) && this.validateFileSize(this.selectedFile)"
            class="file-info-text">
            <p>File name: {{fileToUploadName}}</p>
            <p>File size: {{fileToUploadSizeInMegabytes}} MB</p>
            <p>File type: {{fileToUploadFileCategory}} ({{fileToUploadType}})</p>

            <div class="edit-fields">
                <div class="input-group">
                    <label for="fileName">Enter here new file name or leave empty for the current one</label>
                    <input type="text" id="fileName" placeholder="Enter file name" [formControl]="fileNameFormControl">
                </div>
                <div class="input-group">
                    <label for="fileDate">Select date when the file was created on you device:</label>
                    <input type="datetime-local" id="fileDate" [formControl]="fileDateFormControl">
                </div>
            </div>

        </div>

        <div *ngIf="this.selectedFile && (!this.validateFileType(this.selectedFile) || !this.validateFileSize(this.selectedFile))"
            class="file-warning-text">
            <p>{{this.fileUploadWarningText}}</p>
        </div>
        <div class="file-upload-result">
            <p [style.color]="fileUploadResultColor">{{fileUploadResultMessage}}</p>
        </div>
    </div>

    <app-submit-button
        *ngIf="this.selectedFile && this.validateFileType(this.selectedFile) && this.validateFileSize(this.selectedFile) && !this.isDataTransmissionActive"
        [buttonBackgroundColor]="uploadFileButtonColor" [submitButtonText]="uploadFileButtonText"
        (buttonClick)="uploadFile()"></app-submit-button>

    <table *ngIf="courseMainMaterialsArray.length > 0">
        <thead>
            <tr>
                <th>Number</th>
                <th>File name</th>
                <th>File type</th>
                <th>File created</th>
                <th>File size</th>
                <th class="actions-column" colspan="2">Actions</th>

            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let item of courseMainMaterialsArray; let i=index">
                <td>{{i + 1}}</td>
                <td>{{item['fileName']}}</td>
                <td>{{getFileExtension(item['contentType'])}}</td>
                <td>{{getDateTimeFromUnixMillis(item['dateTimePointOfFileCreation'])}}</td>
                <td>{{getFileSizeInMb(item['contentSize'])}} MB</td>
                <td (click)="downloadCourseMainMaterial(item.courseMainMaterialId)">Download</td>
                <td (click)="deleteCourseMainMaterial(item.courseMainMaterialId, i)">Delete</td>

            </tr>
        </tbody>
    </table>
    <app-floating-warning-box *ngIf="floatingWarningDeleteBoxShow" [warningTitle]="floatingWarningDeleteBoxTitle">
        <p [style.color]="floatingWarningDeleteBoxMessageColor" [style.font-size]="'24px'">
            {{floatingWarningDeleteBoxMessage}}</p>
        <p>{{floatingWarningDeleteBoxFileToDeleteIndex}}</p>
        <p>{{floatingWarningDeleteBoxFileToDeleteName}}</p>
        <app-submit-button *ngIf="!isDeleteOperationComplete" [buttonMargin]="floatingWarningBoxButtonMargin"
            [buttonBackgroundColor]="floatingWarningDeleteBoxConfirmButtonColor"
            [submitButtonText]="floatingWarningDeleteBoxConfirmButtonText"
            (buttonClick)="confirmDelete()"></app-submit-button>
        <app-submit-button *ngIf="!isDeleteOperationComplete" [buttonMargin]="floatingWarningBoxButtonMargin"
            [buttonBackgroundColor]="floatingWarningDeleteBoxCancelButtonColor"
            [submitButtonText]="floatingWarningDeleteBoxCancelButtonText"
            (buttonClick)="cancelDelete()"></app-submit-button>
        <app-submit-button *ngIf="isDeleteOperationComplete" [buttonBackgroundColor]="closeFloatingBoxButtonColor"
            [submitButtonText]="closeFloatingBoxButtonText" (buttonClick)="cancelDelete()"></app-submit-button>
    </app-floating-warning-box>

</body>