<!-- course-tutor-lessons.component.html -->
<div class="main-container">
    <h2>Course Lessons</h2>
    <div class="action-buttons-container">
        <button class="go-back-button" (click)="goBack()">← Go Back</button>
        <button class="create-action-button" (click)="onCreateLesson()">Add New Lesson</button>
    </div>
    <div class="lessons-list">
        <div class="lesson-card" *ngFor="let lesson of lessons">
            <div class="lesson-content">
                <div class="lesson-header">
                    <h3 class="lesson-title">{{lesson.title}}</h3>
                    <span class="status-badge" [ngClass]="{
                        'archived': lesson.publishedStatus === 2,
                        'published': lesson.publishedStatus === 1,
                        'draft': lesson.publishedStatus === 0
                    }">
                        {{this.getPublishedStatus(lesson.publishedStatus)}}
                    </span>
                </div>
                <div class="lesson-meta">
                    <span class="sequence">Order: {{lesson.lessonSequenceOrder ?? 'Not set'}}</span>
                    <span class="topic">{{lesson.topic}}</span>
                </div>
                <p class="short-summary">{{lesson.shortSummary}}</p>
                <div class="lesson-dates">
                    <span>Created: {{lesson.createdAt | date:'mediumDate'}}</span>
                    <span *ngIf="lesson.statusChangedAt">Last updated: {{lesson.statusChangedAt |
                        date:'longDate '}}</span>
                </div>
            </div>
            <div class="lesson-actions">
                <button class="btn view-btn" (click)="onViewLesson(lesson)">
                    View
                </button>
                <button class="btn" (click)="onViewLessonResources(lesson.courseLessonId)">Resources</button>
            </div>
        </div>
    </div>
</div>