<body>

    <div class='hero-container'>
        <h1>Tell us how would you like to teach your students?</h1>
    </div>

    <form action="" [formGroup]="tutorTeachingStyleFormGroup">
        <div class="row">

            <app-text-area-input-component [formControl]="tutorTeachingStyleFormGroup.controls.description"
                [label]="descriptionLabel" [placeholder]="descriptionPlaceholder" [warning]="descriptionWarning"
                [setResizeType]="descriptionResizeType">
            </app-text-area-input-component>
        </div>
        <div class="row">
            <app-select-dropdown [label]="teachingStyleTypeLabel" [placeholder]="teachingStyleTypePlaceholder"
                [warning]="teachingStyleTypeWarning"
                [formControl]="tutorTeachingStyleFormGroup.controls.tutorTeachingStyleType"
                [options]="teachingStyleTypeOptions">

            </app-select-dropdown>
        </div>
        <div class="row">
            <app-select-dropdown [label]="primaryCommunicationTypeLabel"
                [placeholder]="primaryCommunicationTypePlaceholder" [warning]="primaryCommunicationTypeWarning"
                [formControl]="tutorTeachingStyleFormGroup.controls.primaryCommunicationType"
                [options]="communicationTypeOptions">

            </app-select-dropdown>
        </div>

        <div class="row">
            <app-select-dropdown [label]="secondaryCommunicationTypeLabel"
                [placeholder]="secondaryCommunicationTypePlaceholder" [warning]="secondaryCommunicationTypeWarning"
                [formControl]="tutorTeachingStyleFormGroup.controls.secondaryCommunicationType"
                [options]="communicationTypeOptions">



            </app-select-dropdown>
        </div>

        <div class="row">
            <app-select-dropdown [label]="primaryEngagementMethodLabel"
                [placeholder]="primaryEngagementMethodPlaceholder" [warning]="primaryEngagementMethodWarning"
                [formControl]="tutorTeachingStyleFormGroup.controls.primaryEngagementMethod"
                [options]="engagementMethodOptions"></app-select-dropdown>
        </div>
        <div class="row">
            <app-select-dropdown [label]="secondaryEngagementMethodLabel"
                [placeholder]="secondaryEngagementMethodPlaceholder" [warning]="secondaryEngagementMethodWarning"
                [formControl]="tutorTeachingStyleFormGroup.controls.secondaryEngagementMethod"
                [options]="engagementMethodOptions"></app-select-dropdown>
        </div>
        <div class="row">
            <app-text-input [label]="expectedResponseTimeLabel" [placeholder]="expectedResponseTimePlaceholder"
                [warning]="expectedResponseTimeWarning"
                [formControl]="tutorTeachingStyleFormGroup.controls.expectedResponseTime"></app-text-input>
        </div>
        <div class="row">
            <app-text-area-input-component [label]="specialConsiderationsLabel"
                [placeholder]="specialConsiderationsPlaceholder" [warning]="specialConsiderationsWarning"
                [formControl]="tutorTeachingStyleFormGroup.controls.specialConsiderations"
                [setResizeType]="specialConsiderationsResizeType">

            </app-text-area-input-component>
        </div>
        <div class="row error-message-row">
            <p [style.color]="formErrorMessageColor" [style.font-size]="'24px'">
                {{formErrorMessage}}
            </p>
        </div>

        <div class="button-row">
            <app-submit-button [submitButtonText]="discardAllDataButtonLabel"
                [buttonBackgroundColor]="discardAllDataButtonColor" (buttonClick)="onDiscardAllDataButtonClick()">
                >

            </app-submit-button>
            <app-submit-button [submitButtonText]="saveButtonLabel" [buttonBackgroundColor]="saveButtonColor"
                (buttonClick)="onSaveButtonClick()"></app-submit-button>
        </div>
    </form>
    <app-floating-warning-box *ngIf="floatingWarningBoxShow"
        [warningTitle]="floatingWarningBoxTitle">
        <p [style.color]="floatingWarningBoxMessageColor" [style.font-size]="'24px'">
            {{floatingWarningBoxMessage}}
        </p>
        <div class="announcementDiv" *ngIf="isDataTransmissionActive">

            <mat-progress-spinner [mode]="spinnerMode" class="spinner-color"
                [style.stroke]="spinnerColor"></mat-progress-spinner>
        </div>
        <app-submit-button *ngIf="!isDataTransmissionActive && !isDataTransmissionComplete"
            [buttonBackgroundColor]="floatingWarningBoxConfirmButtonColor"
            [submitButtonText]="floatingWarningBoxConfirmButtonLabel" [buttonMargin]="floatingWarningBoxButtonMargin"
            (buttonClick)="onConfirmButtonClick()"></app-submit-button>
        <app-submit-button *ngIf="!isDataTransmissionActive
        && !isDataTransmissionComplete
        " [buttonBackgroundColor]="floatingWarningBoxCancelButtonColor"
            [submitButtonText]="floatingWarningBoxCancelButtonLabel" [buttonMargin]="floatingWarningBoxButtonMargin"
            (buttonClick)="onKeepEditing()"></app-submit-button>
        <app-submit-button *ngIf="!isDataTransmissionActive && isDataTransmissionComplete"
            [buttonMargin]="floatingWarningBoxButtonMargin" [submitButtonText]="continueButtonText"
            [buttonBackgroundColor]="continueButtonColor"
            (buttonClick)="onSavingOperationComplete()"></app-submit-button>

    </app-floating-warning-box>
</body>