* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5% 0;
}
.hero-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5% 0;
}

.slide-toggle {
  padding-left: 12px;
  outline: 2px solid red;
}
.career-information-grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  margin: 20px;
}

.career-information-grid-item {
  border: 1px solid #ccc;
  padding: 48px 16px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}
