<div class="settings-container">
    <!-- Profile Section -->
    <section class="profile-section">
      <h2>Profile Settings</h2>
      <div class="avatar-container">
        <img [src]="photoUrl" alt="Profile Avatar" class="avatar" />
        <button (click)="OpenPhotoEditor()" class="btn-change-picture">Change Picture</button>
      </div>
      <app-photo-comp
      *ngIf="statusController"
      (FormStatus)="HandleFormStatus($event)">
    </app-photo-comp>
      <div class="profile-inputs">
        <!-- First Name -->
        <div class="input-group">
          <label>First name</label>
          <input disabled [placeholder]="student?.studentInfo.firstName" />
          <button (click)="OpenEditor('FirstName')" class="edit-btn">Edit</button>
        </div>
        <app-dynamic-form
          *ngIf="settingsControll && type==='FirstName'"
          [ApiLink]="FirstNameLink"
          [valueNameChild]="student?.studentInfo.firstName"
          [fieldLabel]="'First name'"
          (FormStatus)="HandleFormStatusForMain($event)">
        </app-dynamic-form>

        <!-- Last Name -->
        <div class="input-group">
          <label>Last name</label>
          <input disabled [placeholder]="student?.studentInfo.lastName" />
          <button (click)="OpenEditor('LastName')" class="edit-btn">Edit</button>
        </div>
        <app-dynamic-form
          *ngIf="settingsControll && type==='LastName'"
          [ApiLink]="LastNameLink"
          [valueNameChild]="student?.studentInfo.lastName"
          [fieldLabel]="'Last name'"
          (FormStatus)="HandleFormStatusForMain($event)">
        </app-dynamic-form>

        <!-- Description -->
        <div class="input-group">
          <label>Description</label>
          <input
            disabled
            [placeholder]="
      student?.studentInfo.biography || 'No description'
    "
          />
          <button (click)="OpenEditor('Description')" class="edit-btn">
            Edit
          </button>
        </div>
        <app-dynamic-form
          *ngIf="settingsControll && type==='Description'"
          [ApiLink]="DescriptionLink"
          [valueNameChild]="student?.studentInfo.biography"
          [fieldLabel]="'Description'"
          (FormStatus)="HandleFormStatusForMain($event)">
        </app-dynamic-form>

        <!-- Password -->
        <div class="input-group">
          <label>Password</label>
          <input type="password" disabled placeholder="********" />
          <button (click)="OpenEditor('Password')" class="edit-btn">Edit</button>
        </div>
        <app-dynamic-form [ApiLink]="PasswordChangeLink"
                          *ngIf="settingsControll && type=='Password'"
                          [valueNameChild]="'Password'"
                          (FormStatus)="HandleFormStatusForMain($event)"></app-dynamic-form>

        <div class="input-group">
          <label for="phone">Phone</label>
          <input type="text" id="phone" disabled placeholder="{{student?.phoneNumber ? student?.phoneNumber : 'Nema broja'}}" />
          <button (click)="OpenEditor('Phone')" class="edit-btn"><i></i> Edit</button>
        </div>
        <!-- <label>Add social media links</label> -->
        <!-- <div class="input-group">
            <label for="twitter">TwitterLink</label>
            <input type="text" id="twitter" disabled placeholder="TwitterLink" />
            <button (click)="OpenEditor()" class="edit-btn"><i></i> Edit</button>
          </div>
          <div class="input-group">
            <label for="facebook">Facebook Link</label>
            <input type="text" id="facebook" disabled placeholder="instagramLink" />
            <button (click)="OpenEditor()" class="edit-btn"><i></i> Edit</button>
          </div>
          <div class="input-group">
            <label for="instagram">Instagram Link</label>
            <input type="text" id="instagram" disabled placeholder="FacebookLink" />
            <button (click)="OpenEditor()" class="edit-btn"><i></i> Edit</button>
          </div> -->
      </div>
    </section>

    <!-- Theme Section -->
    <section class="theme-section">
      <h2>Theme Settings</h2>
      <div class="theme-toggle">
        <button class="theme-btn" id="gradient1">Gradient 1</button>
        <button class="theme-btn" id="gradient2">Gradient 2</button>
        <button class="theme-btn" id="gradient3">Gradient 3</button>
      </div>
    </section>

    <!-- Blocked Users Section -->
    <section class="blocked-users-section">
      <h2>Blocked Users</h2>
      <div class="add-to-list-container">
        <button class="add-to-list-btn">Add to List</button>
      </div>
      <div class="blocked-grid">

        <!---BLOCKED USER-->
        <div class="blocked-item">
          <img src="https://via.placeholder.com/50" class="user-avatar" />
          <div class="user-info">
            <span class="user-name">User 1</span>
            <h5>emaildgmail.com</h5>
          </div>
          <div class="user-actions">
            <button class="unblock-btn">Unblock</button>
          </div>


        <!---BLOCKED USER2-->
        </div>
        <div class="blocked-item">
          <img src="https://via.placeholder.com/50" class="user-avatar" />
          <div class="user-info">
            <span class="user-name">User 2</span>
            <h5>emaildgmail.com</h5>
          </div>
          <div class="user-actions">
            <button class="unblock-btn">Unblock</button>
          </div>
        </div>


        <!---BLOCKED USER3-->
        <div class="blocked-item">
          <img src="https://via.placeholder.com/50" class="user-avatar" />
          <div class="user-info">
            <span class="user-name">User 3</span>
            <h5>emaildgmail.com</h5>
          </div>
          <div class="user-actions">
            <button class="unblock-btn">Unblock</button>
          </div>
        </div>



      </div>
    </section>
  </div>
