<div class="main-container">
    <h2>
        Collaboration Document Editor
    </h2>
    <div class="action-buttons-container">
        <button class="go-back-button" (click)="goBack()">← Go Back</button>
        <button class="invite-users-button">Invite users</button>
    </div>
    <section class="users-section">
        <div class="joined-users">
            <h3>Users here:</h3>
            <div class="users-here-list">

            </div>
        </div>
        <div class="invited-users">
            <h3>Invited users:</h3>
            <div class="users-invited-list">
            </div>
        </div>
    </section>
</div>