
 
<div class='bold-line'>
   
</div>

<div class='container'>
   
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>Hello There dear Student!</div>
      <div class='subtitle'>Please write some informations!Before using our services you need to create an account.</div>
      <div class='input-fields'>
        <input type='text' placeholder='First Name' class='input-line full-width'>
        <input type='text' placeholder='Last Name' class='input-line full-width'>
        <input type='text' placeholder='Username' class='input-line full-width'>
<input type='email' placeholder='Email' class='input-line full-width'>
<input type='password' placeholder='Password' class='input-line full-width'>

      </div>
    
      
    
      <div><button class='ghost-round full-width'>Create Account</button></div>
    </div>

  </div>
  <div id="checking">
    
    <h1 class="registrationChecking">Before you can register, you must have all options correct!</h1>
    <h1 class="registrationChecking">Email format: {{ 'user@' + 'mail.com' }}</h1>
    <h1 class="registrationChecking">Password need to contain: {{ '!@#$%*' }}</h1>
    <h1 class="registrationChecking">Username is already used!</h1>
    <h1 class="registrationChecking">You have passed all checking!Create account and enyoj on our website!</h1>
    <h1 class="registrationChecking"></h1>


  </div>
</div>
