<body>
  <div class="blueOverall">
  <div class="OverLayGradient">
  <section class="container">
          <div class="login-container">

   
        
         
          <div class="form-container" (submit)="onSubmit()">
              <h1 class="loginText">REGISTRACIJA</h1>
             
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <input
                  [class.is-invalid]="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched"
                  name="firstname"
                  formControlName="firstName"
                  type="text"
                  placeholder="First Name"
                  class="input-line full-width"
                  required
                />
                <div *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched">
                  <span class="errow"  *ngIf="registerForm.get('firstName')?.hasError('required')">{{ firstNameWarning }}</span>
                </div>
              
                <input
                  [class.is-invalid]="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched"
                  formControlName="lastName"
                  type="text"
                  placeholder="Last Name"
                  class="input-line full-width"
                  required
                />
                <div *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched">
                  <span class="errow"  *ngIf="registerForm.get('lastName')?.hasError('required')">{{ LastNameWarning }}</span>
                </div>
              
                <input
                  [class.is-invalid]="registerForm.get('username')?.invalid && registerForm.get('username')?.touched"
                  formControlName="username"
                  type="text"
                  placeholder="Username"
                  class="input-line full-width"
                  required
                />
                <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
                  <span class="errow"  *ngIf="registerForm.get('username')?.hasError('required')">{{ usernameWarning }}</span>
                </div>
              
                <input
                  [class.is-invalid]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
                  formControlName="email"
                  type="email"
                  placeholder="Email"
                  class="input-line full-width"
                  required
                />
                <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                  <span class="errow"  *ngIf="registerForm.get('email')?.hasError('required')">{{ emailWarning }}</span>
                  <span class="errow"  *ngIf="registerForm.get('email')?.hasError('email')">Invalid email format</span>
                </div>
              
                <input
                  [class.is-invalid]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
                  formControlName="password"
                  type="password"
                  placeholder="Password"
                  class="input-line full-width"
                  required
                />
                <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                  <span class="errow" *ngIf="registerForm.get('password')?.hasError('required')">{{ passwordWarning }}</span>
                  <span class="errow"  *ngIf="registerForm.get('password')?.hasError('minlength')">Password must be at least 8 characters</span>
                  <span class="errow"  *ngIf="registerForm.get('password')?.hasError('pattern')">Password must contain uppercase, lowercase, digit, and special character</span>
                </div>
              
                <input
                  [class.is-invalid]="registerForm.get('phoneNumber')?.invalid && registerForm.get('phoneNumber')?.touched"
                  formControlName="phoneNumber"
                  type="text"
                  placeholder="Phone Number"
                  class="input-line full-width"
                  required
                />
                <div *ngIf="registerForm.get('phoneNumber')?.invalid && registerForm.get('phoneNumber')?.touched">
                  <span class="errow" *ngIf="registerForm.get('phoneNumber')?.hasError('required')">{{ PhoneWarning }}</span>
                </div>
              
                <input
                  [class.is-invalid]="registerForm.get('phoneNumberCountryCode')?.invalid && registerForm.get('phoneNumberCountryCode')?.touched"
                  formControlName="phoneNumberCountryCode"
                  type="text"
                  placeholder="Phone Country Code"
                  class="input-line full-width"
                  required
                />
                <div *ngIf="registerForm.get('phoneNumberCountryCode')?.invalid && registerForm.get('phoneNumberCountryCode')?.touched">
                  <span class="errow" *ngIf="registerForm.get('phoneNumberCountryCode')?.hasError('required')">{{ PhoneCountryCodeWarning }}</span>
                </div>
              
                <input
                  [class.is-invalid]="registerForm.get('CountryOfOrigin')?.invalid && registerForm.get('CountryOfOrigin')?.touched"
                  formControlName="CountryOfOrigin"
                  type="text"
                  placeholder="Country of Origin"
                  class="input-line full-width"
                  required
                />
                <div *ngIf="registerForm.get('CountryOfOrigin')?.invalid && registerForm.get('CountryOfOrigin')?.touched">
                  <span class="errow" *ngIf="registerForm.get('CountryOfOrigin')?.hasError('required')">{{ CountryWarning }}</span>
                </div>
              
                <button class="opacity" type="submit">SUBMIT</button>
              </form>
              
              <div class="register-forget opacity">
                  <a href="">NAZAD</a>
             
              </div>
              
            </div>
          
    
          <div class="circle circle-two"></div>
      </div>
      
      <div class="theme-btn-container"></div>
      
  
  </section>

  
</div>
</div>
</body>

