<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="create-course.component.css">
    <title>Create Course</title>
</head>

<body>



    <div class="create-course-container">
        <span class="toggle-button" (click)="toggleSidebar()" [ngClass]="{'active': showSidebar}">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="undefined">
                <path
                    d="M383-480 200-664l56-56 240 240-240 240-56-56 183-184Zm264 0L464-664l56-56 240 240-240 240-56-56 183-184Z" />
            </svg>
        </span>


        <app-left-side-bar class="sidebar" [ngClass]="{'toggle': !showSidebar}" [sidebarTitle]="sidebarTitle"
            [style.height]="sidebarHeight" [sidebarOptions]="courseCreationSteps" [selectedOption]="selectedOption"
            [sidebarPadding]="sidebarPadding">

        </app-left-side-bar>
        <main class="course-form" [ngClass]="{'hidden': showSidebar}">

            <app-course-basic-information [referenceService]="referenceService"></app-course-basic-information>

        </main>
    </div>


</body>

</html>