<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="create-course.component.css">
    <title>Create Course</title>
</head>

<body>



    <div class="create-course-container">
        <span class="toggle-button" (click)="toggleSidebar()" [ngClass]="{'active': showSidebar}">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="undefined">
                <path
                    d="M383-480 200-664l56-56 240 240-240 240-56-56 183-184Zm264 0L464-664l56-56 240 240-240 240-56-56 183-184Z" />
            </svg>
        </span>

        <!-- <aside class="sidebar" [ngClass]="{'toggle': !showSidebar}" [style.height]="sidebarHeight">
            <h2 style="color: rgb(2, 80, 176); font-size: 1.2rem; margin-bottom: 20px;">{{sidebarTitle}}</h2>
            <ul class="option-list" style="list-style-type: none; padding: 0;">
                <li class="option" *ngFor="let item of courseCreationSteps; let i=index"
                    [class.active]="i === selectedOption" (click)="selectOption(i)">
                    {{item.title}}
                </li>

            </ul>
        </aside> -->
        <app-left-side-bar class="sidebar" [ngClass]="{'toggle': !showSidebar}" [style.height]="sidebarHeight"
            [sidebarOptions]="courseCreationSteps" [selectedOption]="selectedOption" [sidebarPadding]="sidebarPadding">

        </app-left-side-bar>
        <main class="course-form" [ngClass]="{'hidden': showSidebar}">
            <h1>Create a New Course</h1>
            <form>
                <label for="course-title">Course Title</label>
                <input type="text" id="course-title" placeholder="Enter course title" />

                <label for="course-description">Description</label>
                <textarea id="course-description" placeholder="Enter course description"></textarea>

                <button type="submit" class="btn-submit">Next Step</button>
            </form>
        </main>
    </div>


</body>

</html>