<body>
    <app-left-side-bar [sidebarItems]="courseCreationSteps" [showSidebar]="showSidebar" [sidebarTitle]="sidebarTitle"
        (optionSelected)="onSelectComponent($event)"></app-left-side-bar>
    <span class="toggle-button" (click)="toggleSidebar()" [ngClass]="{ 'active': showSidebar }">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="undefined">
            <path
                d="M440-240 200-480l240-240 56 56-183 184 183 184-56 56Zm264 0L464-480l240-240 56 56-183 184 183 184-56 56Z" />
        </svg>
    </span>
    <div class="content-wrapper" [ngClass]="{ 'move': showSidebar}">
        <ng-container #dynamicContainerComponent>

        </ng-container>


    </div>

    <app-floating-warning-box *ngIf="showFloatingWarningBox" [warningTitle]="floatingWarningBoxTitle">
        <p [style.color]="floatingWarningBoxMessageColor" [style.font-size]="'24px'">{{floatingWarningBoxMessage}}</p>
    </app-floating-warning-box>
</body>