.main-container {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

.action-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
}

.go-back-button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.go-back-button:hover {
  background-color: #0056b3;
}

.metrics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.metric-card {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.metric-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.metric-value {
  font-size: 2.5rem;
  font-weight: 600;
  color: #2d3436;
}

.metric-trend {
  font-weight: 600;
  &.positive {
    color: #00b894;
  }
  &.negative {
    color: #d63031;
  }
}

.charts-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 650px)
  ); /* Ensures flexibility */
  gap: 2rem;
  margin-top: 2rem;
}

.chart-wrapper {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the chart inside the wrapper */
}

.chart-wrapper h4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #343a40;
  text-align: center;
}

canvas {
  width: 100% !important;
  max-width: 100%; /* Prevents the chart from being too wide */
  height: 350px !important; /* Ensures consistent height */
  margin: 0 auto; /* Centers the canvas inside the wrapper */
}
