/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Sour Gummy";
  src: url("../public/fonts/sour_gummy/static/SourGummy-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sour Gummy", sans-serif;
}

html,
body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
