<body>
    <h1>
        Sign up as a Tutor
    </h1>
    <form [formGroup]="signinForm">
        <app-email-input [emailFormControl]="signinForm.controls.email" [emailWarning]="emailWarning"
            (emailInput)="handleEmailInput($event)"></app-email-input>
        <app-password-input [passwordWarning]="passwordWarning" [passwordFormControl]="signinForm.controls.password"
            (passwordInput)="handlePasswordInput($event)"></app-password-input>
        <app-progress-bar [marginBottom]="progressBarMarginBottom" [color]="progressBarColor"
            [progress]="progressBarWidth"></app-progress-bar>
        <p [style.color]="progressBarColor" [style.margin-bottom]="passwordStrengthDescriptionMarginBottom">
            {{passwordStrengthDescription}}</p>
        <app-submit-button (buttonClick)="handleSubmitButton($event)"
            [submitButtonText]="buttonText"></app-submit-button>
        <h3 class=".inputWarningText" style="font-size: 1.5rem; color: red;">{{formNotValidText}}</h3>
    </form>
    <h3 class="orSeparator" style="color: grey">Or</h3>
    <h3 class="alreadyMemberText">
        Already a member?
    </h3>
    <button class="signinButton" routerLink="/user-signin">Sign in</button>

</body>