* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
h1 {
  text-align: center;
}

body > * {
  width: 25%;
}

.orSeparator {
  color: grey;
  margin: 64px 0px;
  text-align: center;
}

.alreadyMemberText {
  font-size: 1rem;
}

.signinButton {
  width: 20%;
  color: black;
  border: none;
  border-radius: 18px;
  padding: 12px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.signinButton:hover {
  color: white;
  background-color: red;
  border: none;
  width: 30%;
  border-radius: 18px;
  padding: 18px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 4px 6px 0 rgba(63, 63, 63, 0.135);
}
