<body [class.no-scroll]="showCareerInformationLog">
    <div class='hero-container'>

        <h1>
            Enter your career details
        </h1>
        <h3 *ngIf="!isStepCompleted" [style.color]="'red'">
            Please add records about your career to continue
        </h3>

    </div>

    <div class='career-information-grid' [class.no-scroll]="showCareerInformationLog">
        <div class="career-information-grid-item" *ngFor="let careerInformationItem of careerInformation; let i=index"
            (click)="onLogClick(careerInformationItem, i)">
            <p>
                {{this.generateCareerInformationDescription(careerInformationItem)}}
            </p>

        </div>
        <div class="career-information-grid-item" (click)="addNewCareerInformation()">
            Add
        </div>
    </div>


    <app-career-signup-log *ngIf="showCareerInformationLog"
        (closeCareerInformationLog)="this.closeCareerInformationLog()"
        [careerInformation]="this.selectedCareerInformationLog"></app-career-signup-log>
    <app-submit-button *ngIf="isStepCompleted" [submitButtonText]="this.continueToNextStepButtonText"
        [buttonBackgroundColor]="this.continueButtonColor" (buttonClick)="routeToWeeklySchedule()"></app-submit-button>
</body>