<div class="backdrop"></div>
<div class="container" [class.no-scroll]="showWarningBox">
    <button class="close-button" *ngIf="!hasChanges" (click)="toggleFloatingBox()">X</button>
    <h2>

        Enter information about your education
    </h2>
    <form action="" [formGroup]="educationInformationFormGroup">
        <div class="row">
            <app-text-input [label]="institutionNameLabel" [placeholder]="institutionNamePlaceholder"
                [formControl]="educationInformationFormGroup.controls.institutionName"
                [warning]="institutionNameError"></app-text-input>
        </div>
        <div class="row">
            <app-text-input [label]="institutionOfficialWebsiteLabel"
                [placeholder]="institutionOfficialWebsitePlaceholder" [warning]="institutionOfficialWebsiteError"
                [formControl]="educationInformationFormGroup.controls.institutionOfficialWebsite">
                >
            </app-text-input>
        </div>
        <div class="row">
            <app-text-input [label]="institutionAddressLabel" [placeholder]="institutionAddressPlaceholder"
                [formControl]="educationInformationFormGroup.controls.institutionAddress"
                [warning]="institutionAddressError">
            </app-text-input>
        </div>
        <div class="row">
            <app-text-input [label]="educationLevelLabel" [placeholder]="educationLevelPlaceholder"
                [formControl]="educationInformationFormGroup.controls.educationLevel" [warning]="educationLevelError">
            </app-text-input>
        </div>
        <div class="row">
            <app-text-input [label]="fieldOfStudyLabel" [placeholder]="fieldOfStudyPlaceholder"
                [formControl]="educationInformationFormGroup.controls.fieldOfStudy" [warning]="fieldOfStudyError">
            </app-text-input>
        </div>
        <div class="row">
            <app-text-input [label]="minorFieldOfStudyLabel" [placeholder]="minorFieldOfStudyPlaceholder"
                [formControl]="educationInformationFormGroup.controls.minorFieldOfStudy"
                [warning]="minorFieldOfStudyError">
            </app-text-input>
        </div>
        <div class="row">
            <app-date-picker [label]="startDateLabel" [placeholder]="startDatePlaceholder"
                [formControl]="educationInformationFormGroup.controls.startDate"
                [warning]="startDateError"></app-date-picker>
        </div>
        <div class="row">
            <app-date-picker [label]="endDateLabel" [placeholder]="endDatePlaceholder"
                [formControl]="educationInformationFormGroup.controls.endDate"
                [warning]="endDateError"></app-date-picker>
        </div>
        <div class="row">
            <app-two-option-picker [firstOptionText]="isCompletedFirstOptionText"
                [secondOptionText]="isCompletedSecondOptionText"
                [formControlGroup]="educationInformationFormGroup.controls.isCompletedFormGroup"></app-two-option-picker>
        </div>
        <div class="row">
            <app-text-input [label]="finalGradeLabel" [placeholder]="finalGradePlaceholder"
                [formControl]="educationInformationFormGroup.controls.finalGrade" [warning]="finalGradeError">
            </app-text-input>
        </div>
        <div class="row">
            <app-text-input [label]="descriptionLabel" [placeholder]="descriptionPlaceholder"
                [formControl]="educationInformationFormGroup.controls.description" [warning]="descriptionError">
            </app-text-input>
        </div>

        <div class="row error-message-row">
            <p [style.color]="formErrorMessageColor" [style.font-size]="'24px'">
                {{formErrorMessage}}
            </p>
        </div>
        <div class="row button-row">

            <app-submit-button *ngIf="hasChanges" [submitButtonText]="discardButtonText"
                [buttonBackgroundColor]="discardButtonColor" (buttonClick)="onDiscardButtonClick()"></app-submit-button>
            <app-submit-button *ngIf="hasChanges" [submitButtonText]="submitButtonText"
                [buttonBackgroundColor]="submitButtonColor" (buttonClick)="onSaveButtonClick()"></app-submit-button>
            <app-submit-button *ngIf="!hasChanges" [submitButtonText]="goBackButtonText"
                [buttonBackgroundColor]="goBackButtonColor" (buttonClick)="toggleFloatingBox()"></app-submit-button>

        </div>



    </form>
</div>

<app-floating-warning-box *ngIf="showWarningBox" [warningTitle]="floatingWarningBoxTitle"
    (toggleFloatingBox)="toggleFloatingBox()">
    <p [style.color]="floatingWarningBoxMessageColor">{{floatingWarningBoxMessage}}</p>
    <app-submit-button [buttonBackgroundColor]="confirmButtonColor" [submitButtonText]="confirmButtonText"
        [buttonMargin]="warningBoxButtonMargin" (buttonClick)="onConfirmButtonClick()"></app-submit-button>
    <app-submit-button [buttonBackgroundColor]="cancelButtonColor" [submitButtonText]="cancelButtonText"
        [buttonMargin]="warningBoxButtonMargin" (buttonClick)="onCancelButtonClick()"></app-submit-button>

</app-floating-warning-box>