body {
  padding: 40px;
  height: calc(100% - 80px);
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.title {
  font-size: 36px;
  color: blue;
  font-weight: bold;
  margin-bottom: 2%;
}

.warning-title {
  font-size: 24px;
  color: red;
  font-weight: bold;
}

.warning-subtitle {
  font-size: 20px;
  color: rgb(255, 87, 87);
}

.warning-text {
  font-size: 16px;
  margin-top: 24px;
}

.warning-text ul {
  padding-left: 20px;
  list-style-type: decimal;
}

.course-type-container {
  margin-top: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 24px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.course-type-name {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.course-type-description {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
}

.course-type-description p:nth-child(2) {
  width: 50%;
  text-align: right;
}

.course-type-select-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 36px 0;
  padding-top: 12px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.course-type-select-container p {
  font-size: 24px;
}

.course-type-select-options {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
}

.first-option {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.second-option {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

@media screen and (max-width: 768px) {
  .course-type-container {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .course-type-name {
    display: flex;
    flex-direction: column;
  }
  .course-type-description {
    flex-direction: column;
    align-items: center;
  }
  .course-type-description p:nth-child(2) {
    width: 100%;
    text-align: left;
  }
}
