<body>
    <p class="title">Confirm this is the course type you want!</p>


    <p class="warning-title">Warning!</p>
    <p class="warning-subtitle">Once you have selected the course type it can no longer be changed!</p>
    <div class="warning-text">

        <p>The course type determines the following:</p>
        <ul>
            <li>How students use the materials, interact with you, and how do they learn.</li>
            <li>Whether are you directly engaged in their learning process or are you there as a support element to
                their
                learning journey.</li>
            <li>Will you test the students knowledge or will they evaluate it themselves</li>
        </ul>


    </div>

    <div class="course-type-container">
        <div class="course-type-name">
            <p>Selected course type:</p>
            <p>{{selectedCourseType.name}}</p>
        </div>
        <div class="course-type-description">
            <p>Selected course description:</p>
            <p>{{selectedCourseType.description}}</p>
        </div>
    </div>

    <div class="course-type-select-container">
        <p>Select the course type</p>
        <form action="" class="course-type-select-options" [formGroup]="courseTypeFormGroup">
            <div class="first-option" *ngFor="let item of courseTypeArray; let i=index">
                <label [for]="'option'+i">{{item.name}}</label>
                <input type="radio" [id]="'option'+i" formControlName="selectedOption" [value]="item.courseTypeId"
                    (change)="onCourseTypeChange(i)" />
            </div>
        </form>

    </div>

    <app-submit-button *ngIf="!isDataTransmissionActive && !isDataTransmissionComplete"
        [submitButtonText]="confirmMyChoiceButtonText" [buttonBackgroundColor]="confirmMyChoiceButtonColor"
        (buttonClick)="onConfirmMyChoiceButtonClick()">
    </app-submit-button>

    <p *ngIf="isDataTransmissionComplete || isDataTransmissionActive"
        [style.color]="confirmationServerResponseMessageColor" [style.font-size]="'24px'">
        {{confirmationServerResponseMessage}}</p>
    <div class="announcementDiv" *ngIf="isDataTransmissionActive">

        <mat-progress-spinner [mode]="spinnerMode" class="spinner-color"
            [style.stroke]="spinnerColor"></mat-progress-spinner>
    </div>


    <app-submit-button *ngIf="!isDataTransmissionActive && isDataTransmissionComplete"
        [submitButtonText]="nextStepButtonText" [buttonBackgroundColor]="nextStepButtonColor"
        (buttonClick)="onNextStepButtonClick()">
        ></app-submit-button>

</body>