* {
  padding: 0;
  margin: 0;
}
:host {
  --label-font-size: 14px;
  --label-left-padding: 10px;
  --label-color: gray;
  --input-area-width: 100%;
  --input-area-min-height: 50px;
  --input-area-max-height: 100px;
  --input-area-left-padding: 4px;
  --input-area-border-style: 1px solid black;
  --input-area-border-radius: 12px;
  --input-area-margin: 1px 0px;
  --input-area-font-size: 18px;
  --warning-color: red;
  --warning-font-size: 12px;
  --warning-left-padding: 10px;
}




p {
  color: var(--warning-color);
  font-size: var(--warning-font-size);
  padding-left: var(--warning-left-padding);
  height: 21px;
}

.radio-select-container {
  width: 100%;
  display: block;
}

.radio-select-container:hover {
  color: blue;
}

.radio-select-container:hover fieldset {
  border-color: blue;
}

.radio-select-container:hover fieldset legend {
  color: blue;
}
.radio-select-container fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

.radio-select-container fieldset legend {
  font-size: 20px;
  font-weight: bold;
  margin-left: 8px;
  padding: 0px 2px;
  color: #808080;
}

.radio-select {
  display: flex;
  flex-direction: row;
  width: 96%;
  padding: 4px 2%;
  color: #808080;
}

.radio-select:hover {
  color: black;
}
.radio-select label {
  padding: 4px;
}

.radio-select label:hover {
  cursor: pointer;
}

.radio-select input:hover {
  cursor: pointer;
}
