* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.hero-container {
  margin: 5% 0px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  margin: 2% 0%;
}

.row {
  margin: 0% 5%;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0% 5%;
}

.error-message-row {
  text-align: center;
  margin: 5% 0%;
}

.announcementDiv {
  margin: 5px 0px 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
