<body>
    <h1>
        Enter your phone number
    </h1>
    <form [formGroup]="phoneNumberFormGroup">
        <app-select-dropdown [options]="countries" [formControl]="phoneNumberFormGroup.controls.countryCode"
            [label]="selectLabel" [placeholder]="countryCodeSelectPlaceholder"
            (onChangeEvent)="handleCountryCodeSelect($event)"
            [warning]="selectCountryCodeWarning"></app-select-dropdown>
        <app-phone-number-input [label]="phoneNumberInputLabel"
            [phoneNumberInputFormControl]="phoneNumberFormGroup.controls.phoneNumber"
            (phoneNumberInput)="handlePhoneNumberInput($event)" [warning]="phoneNumberWarning"></app-phone-number-input>
        <app-submit-button (buttonClick)="handleSubmitButton($event)"></app-submit-button>


    </form>

    <app-floating-warning-box [warningTitle]="warningBoxTitle" [warningMessage]="warningBoxText" *ngIf="showWarningBox"
        [toggleFloatingBox]="toggleFloatingBox.bind(this)">
        <p class="textWarningBox">Selected country:</p>
        <p class="valueWarningBox">{{selectedCountryCodeAndCountryName}}</p>
        <p class="textWarningBox">Phone number:</p>
        <p class="valueWarningBox">{{phoneNumberValue}}</p>
        <div>
            <app-submit-button class="submit-button-warning-box" [submitButtonText]="warningBoxYesButtonText"
                [buttonBackgroundColor]="warningBoxYesButtonBackgroundColor" [buttonMargin]="warningBoxButtonMargin"
                (buttonClick)="handleYesButton($event)">
            </app-submit-button>
            <app-submit-button [submitButtonText]="warningBoxNoButtonText"
                [buttonBackgroundColor]="warningBoxNoButtonBackgroundColor" (buttonClick)="handleNoButton($event)">
            </app-submit-button>
        </div>
        <p>{{saveOperationResult}}</p>
    </app-floating-warning-box>
</body>